.header{
    height: 20%;
    width: 100%;
    background-color: rgb(214, 211, 211);
    justify-content: center;
    align-items: center;
}
.picture{
    width: 20px;
    margin: 10px;
    float: left;
    margin-left: 50px;
}
.head{
    width: 50%;
     float: right;
     
}

li{
    color: rgb(108, 83, 248);
    padding: 10px;
}
li:hover{
    background-color: rgb(32, 32, 32);
}
ul{
    list-style-type: none;
}
.banner{
    width: 100%;
    height: 15%;
    background-color: rgba(62, 140, 241, 0.562);
    color: white;
    text-align: center;
    padding-top:90px;
    padding-bottom: 30px;
    font-size: 50px;
}
.larrow{
    float: left;
    padding: -5;
}
.rarrow{
    float: right;
    padding: -5px;
}
.left{
 display: flex;
 width: 80%;
  height: 500px;
 overflow: hidden;
 position: relative;
}
.left-side{
   background-color: pink;
   height: 70%;
   width: 70%;
   margin-left: -90px;
   margin-top: 40px;
}
.left-main{
    background-color: yellow;
    width: 40%;
    margin-left: 170px;
    margin-top: 10px;
}
.right{
  width:70%;
  
}
.right-main{
  height:60%;
  margin-top: 10px;
  margin-left: 10px;
  background-color: orange;
}
.right-extra{
    height:40%;
    margin-left: 10px;
    margin-top: 10px;
    background-color: green;

}
.footer{
    height: 70px;
    width: 100%;
    background-color: rgba(62, 140, 241, 0.562);
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 15px;
}
input,select{
    background-color: rgb(252, 186, 64);
    height: 30px;
    width: 350px;
    margin-left: 60px;
    margin-top: 20px;
}
button{
    background-color: rgb(252, 186, 64);
    height:30px; ;
    width: 150px;
    margin-left:60px; ;
}